<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mohamedabdelrazek.com.roomer">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AddGuestActivity"
            android:label="Add a new Guest"
            android:noHistory="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/EditorTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".DetailsActivity"
            android:label="Guest Details"
            android:noHistory="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/EditorTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".UpadteActivity"
            android:label="Edit Guest Info ..."
            android:noHistory="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/EditorTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SplashScreen"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>